<form [formGroup]="peopleForm">
    <mat-form-field>
        <mat-label for="name">Name:</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="name.hasError('required')"> {{getErrorMessage()}} </mat-error>
    </mat-form-field>
    <label for="job">job:</label>
    <input id="job" type="text" formControlName="job">
    <label for="age">Age:</label>
    <input id="age" type="number" formControlName="age">
</form>

<p>Form Status: {{ peopleForm.status }}</p>

<p>Complete the form to enable button.</p>
<button (click)="onSubmit()" [disabled]="!peopleForm.valid">Submit</button>